# For Refactoring the imported modules follow the below steps:
# 1. Create a 'module.cfg' file in the same directory
# 2. Camaileo modules needed to be loaded in a particular oerder (there is a particular dependency)
#    --> order of the modules should in particular order
#    --> sees core cookbook - kamailieo for correct order infomation
# 3. Create a different folder in the same directory named 'modules'
#    --> In that modules cfg create files for each and every modules imported in "modules.cfg"
#    --> In each related cfg module file write the import modules file
#    --> under the import statement write the config params related to that modules
#    --> MAke specific include statements in related files

/* set paths to location of modules */
include_file "/etc/kamailio/modules/jsonrpcs.cfg"
include_file "/etc/kamailio/modules/kex.cfg"
include_file "/etc/kamailio/modules/corex.cfg"
include_file "/etc/kamailio/modules/tm.cfg"
include_file "/etc/kamailio/modules/tmx.cfg"
include_file "/etc/kamailio/modules/sl.cfg"
include_file "/etc/kamailio/modules/rr.cfg"
include_file "/etc/kamailio/modules/pv.cfg"
include_file "/etc/kamailio/modules/maxfwd.cfg"
include_file "/etc/kamailio/modules/textops.cfg"
include_file "/etc/kamailio/modules/siputils.cfg"
include_file "/etc/kamailio/modules/xlog.cfg"
include_file "/etc/kamailio/modules/sanity.cfg"
include_file "/etc/kamailio/modules/ctl.cfg"
include_file "/etc/kamailio/modules/cfg_rpc.cfg"
include_file "/etc/kamailio/modules/acc.cfg"
include_file "/etc/kamailio/modules/counters.cfg"

#loadmodule "jsonrpcs.so"
#loadmodule "kex.so"
#loadmodule "corex.so"
#loadmodule "tm.so"
#loadmodule "tmx.so"
#loadmodule "sl.so"
#loadmodule "rr.so"
#loadmodule "pv.so"
#loadmodule "maxfwd.so"
#loadmodule "textops.so"
#loadmodule "siputils.so"
#loadmodule "xlog.so"
#loadmodule "sanity.so"
#loadmodule "ctl.so"
#loadmodule "cfg_rpc.so"
#loadmodule "acc.so"
#loadmodule "counters.so"